<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    img {
        height: 200px;
        width: 200px;
        object-fit: cover; /* Scale the image so it covers whole area, thus will likely crop */
        object-position: center; /* Center the image within the element */
    }

    .list-group-item-action {
        display: flex;
    }

    a div {
        margin-top: 10px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    a .title {
        font-size: 20px;
        color: black;
    }

    a .location {
        font-size: 15px;
    }

    .fab {
        position: fixed;
        bottom: 20px;
        right: 30px;
    }

    .fab button {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 30px;
        background-color: #cb60b3;
        border: none;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
        font-size: 24px;
        color: white;

        -webkit-transition: .2s ease-out;
        -moz-transition: .2s ease-out;
        transition: .2s ease-out;
    }

    .fab button:focus {
        outline: none;
    }

    .fab button.main {
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background-color: #5b19b7;
        right: 0;
        bottom: 0;
        z-index: 20;
    }

    .fab button.main:before {
        content: '+';
    }

    .fab button.main:active,
    .fab button.main:focus {
        outline: none;
        background-color: #7716ff;
        box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
    }

    .fab button.main:active + ul,
    .fab button.main:focus + ul {
        bottom: 70px;
    }

    .fab button.main:active + ul li,
    .fab button.main:focus + ul li {
        margin-bottom: 10px;
        opacity: 1;
    }

    .fab button.main:active + ul li:hover label,
    .fab button.main:focus + ul li:hover label {
        opacity: 1;
    }
</style>
<body>

<script>
    function logOut() {
        console.log("logout")
        sessionStorage.setItem("account", null);
        location.reload();
    }
</script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Apartments</a></li>
            <li><a href="/tenants">Tenants</a></li>
            <li class="active"><a href="/reviews">Reviews</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h3>Reviews</h3>
    <div class="list-group">
        <% for(var i = 0; i < reviews.length; i++) { %>
            <a class="list-group-item list-group-item-action">
                <!--                <img src="<%= reviews[i].image %>" alt="">-->
                <div>
                    <p class="title"><%= reviews[i].text %></p>
                    <p class="location">Stars: <%= reviews[i].stars %></p>
                </div>
            </a>
        <% } %>
    </div>
</div>

</body>
</html>